.modal__title {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 24px;
  color: var(--text-color-const);
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  display: block;
  margin-top: 8px;
  padding: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  max-width: 440px;
  width: 100%;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.modal__legend {
  font-family: "Cabinet Grotesk", sans-serif;
  margin-bottom: 12px;
  padding: 0;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__label {
  color: var(--text-color-const);
}
.modal__label_type_radio {
  color: var(--text-color-const);
}

.modal__radio-input {
  margin-right: 8px;
  cursor: pointer;
}

.modal__label_type_radio:has(input[type="radio"]:checked) {
  color: #000;
}

.modal__buttons {
  display: flex;
  gap: 12px;
  margin-top: 8px;
  padding: 0;
  max-width: 168px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit {
  padding: 8px 16px 8px 16px;
  height: 36px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #000000;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.modal__submit:hover {
  background-color: #00000099;
  cursor: pointer;
}

.modal__submit-disabled {
  background-color: #0000004d;
  color: #fff;
  cursor: not-allowed;
  pointer-events: none;
  transition: background-color 0.3s ease;
}

.modal__extra-button {
  background: transparent;
  border: none;
  color: #00000080;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
}

.modal__extra-button:hover {
  color: #000;
  cursor: pointer;
}

.modal__error {
  color: #ff4d00;
  font-size: 12px;
  margin-top: 4px;
}

.modal__login-error {
  color: #ff4d00;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 0 0;
}
