.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 19px;
  overflow: hidden;
}

.card__header {
  display: flex;
  position: absolute;
  align-items: center;
  top: 10px;
  right: 10px;
  margin: 0;
  gap: 5px;
}
.card__name {
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  padding: 2px 12px 2px 12px;
  background-color: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  opacity: 60%;
  color: var(--text-color-const);
}

.card__like-btn {
  background: transparent url(../../assets/like.svg) center no-repeat;
  background-size: contain;
  padding: 0;
  width: 18px;
  height: 15px;
  border: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.card__like-btn:hover {
  transform: scale(1.2);
}

.card__like-btn_active {
  background: url(../../assets/likeActive.svg) center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.card__image {
  width: 100%;
  cursor: pointer;
}
