.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
  max-width: 89px;
  filter: none;
}

.header__date-and-location {
  margin-top: 11px;
  margin-bottom: 5px;
  padding: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header .header__add-clothes-btn {
  margin: 0 20px 0 20px;
  padding: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--text-color);
}

.header .header__add-clothes-btn:hover {
  text-decoration: underline;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #00000080;
  border-radius: 50%;
  object-fit: cover;
}

.header__avatar:hover {
  opacity: 0.8;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
}

.header__username:hover {
  text-decoration: underline;
}
.header__link {
  text-decoration: none;
  color: #000;
}

.header__auth-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__auth-btn {
  background: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__auth-btn:hover {
  text-decoration: underline;
}
