.clothes-section {
}

.clothes-section__bar {
  display: flex;
  align-items: center;

  gap: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.clothes-section__description {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}
.clothes-section__add-new-btn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  color: var(--text-color);
}
.clothes-section__add-new-btn:hover {
  text-decoration: underline;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
